.App {
  text-align: center;
}

.App-header {
  /* background-color: red; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}

section {
  /* 202020 */
  background-color: red; 
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
}

.outer {
  /* position: fixed; */
}
.inner p {
  display: inline;
  line-height: 1.3;
  text-align: left;
  font-size: 20pt;
}

.inner {
  width:756px;
}


.text-container {
  position: relative;
  overflow: hidden;
  display: block;
  padding-bottom: 20pt;
}

.highlighted-text:before {
  color: white;
  content: attr(data-text);
  display: inline-block;
}

.highlighted-text {
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
  transition: 0.001s ease;
}

